<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductivityBox | AbhixSurya</title>
</head>
<body>
    <section id="todoBox">
        <section id="todo-task">
            <div class="heding">
                Todo-List
            </div>
            <div class="task-form">
                <input type="text" placeholder="🎯 What's Today" id="task-input" required>
                <input type="submit" value="Add Task">
            </div>
            <div class="task">
                <input type="text" placeholder="complete car washing" id="task1" readonly>
            </div>
        </section>
    </section>
</body>
</html>